name: Run Integration Tests

on: [push, pull_request]

jobs:
  integration-test:
    name: Test
    strategy:
      matrix:
        os: [ubuntu-latest]
        goVer: [1.13, 1.14, 1.15, 1.16]
    # Defines the platform for each test run.
    runs-on: ${{ matrix.os }}
    # define the container services used to run integration tests
    services:
      postgres:
        image: postgres:12
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: users
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      DB_DATABASE: users
      DB_USER: user
      DB_PASSWORD: password

    steps:
      - name: Set up MySQL
      run: |
        sudo /etc/init.d/mysql start
        mysql -e 'CREATE DATABASE ${{ env.DB_DATABASE }};' -u${{ env.DB_USER }} -p${{ env.DB_PASSWORD }}

      # The steps that will be run through for each version and platform combination.
      - name: Set up Go ${{ matrix.goVer }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.goVer }}
      # Checks out our code locally so we can work with the files.
      - name: Checkout code
        uses: actions/checkout@v2
      # Caches downloaded modules
      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      # Runs go test ./... against postgres container
      - name: Test Postgres
        run: go test -v ./...
        env:
          DB_USER: postgres
          DB_PASSWORD: password
          DB_HOST: postgres
          DB_PORT: 5432
          DB_NAME: users
          DB_DRIVER: postgres

      # Runs go test ./... against mysql container
      - name: Test MySQL
        run: go test -v ./...
        env:
          DB_USER: user
          DB_PASSWORD: password
          DB_HOST: localhost
          DB_PORT: 3306
          DB_NAME: users
          DB_DRIVER: mysql
